{% extends "base.html" %}
{% load static %}

{% block body %}
<!-- Template Stylesheet -->
<link href="{% static 'static_file/css/about.css'%}" rel="stylesheet">

<div class="container-fluid position-relative p-0  ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><img src="{% static 'static_file/img/logo.png'%}" alt=""></h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="{% url 'accounts:track'%}" class="nav-item nav-link ">Track</a>
                <a href="{% url 'accounts:my_shipment'%}" class="nav-item nav-link ">My shipments</a>
                <a href="{% url 'accounts:app'%}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'accounts:about' %}" class="nav-item nav-link active">About</a>
                <a href="{% url 'accounts:contact' %}" class="nav-item nav-link">contact us</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Language</a>
                    <div class="dropdown-menu m-0">
                        <a href="/index.html" class="dropdown-item">English</a>
                        <a href="ar.eg.html" class="dropdown-item">Arapic</a>
                    </div>
                </div>
            </div>
            <div class="navbar-nav  d-flex gap-3">
                {% if user.is_authenticated  %}
                <div>
                    <a href="{% url 'accounts:new_shipment' %}" class="btn btn-primary py-2 px-4">New Shipment</a>
                </div>
                <div>
                    <a href="{% url 'accounts:profile' %}" class="btn btn-primary py-2 px-4">Profile</a>
                </div>
                {% if user.is_superuser  %}
                <div>
                    <a href="{% url 'accounts:dashboard' %}" class="btn btn-primary py-2 px-4">Dashboard</a>
                </div>
                {% endif %}
                <div>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-primary py-2 px-4">Log Out</a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'accounts:sign_up' %}" class="btn btn-primary py-2 px-4">Sign Up</a>
                </div>
                <div>
                    <a href="{% url 'accounts:login' %}" class="btn btn-primary py-2 px-4">Log In</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container-fluid py-5 b  mb-5">
        <div class="container my-5 py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static "static_file/img/bg-hero.jpg" %} " style="margin-top: 9%;">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static "static_file/img/young-courier-his-colleague-unloading-cardboard-boxes-from-delivery-van.jpg" %}" style="margin-top: 25%;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static "static_file/img/port-de-barcelona-night.jpg" %}">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static "static_file/img/portrait-delivery-man-handing-out-parcel.jpg" %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                    <h1 class="mb-4">Welcome to <i class="bi bi-truck text-primary me-2"></i>OnTrack</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.</p>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">10</h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">500</h1>
                                <div class="ps-4">
                                    <p class="mb-0">successful</p>
                                    <h6 class="text-uppercase mb-0"> shipments</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
                <h1 class="mb-5">Our Clients Say!!!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'static_file/img/testimonial-1.jpg'%}" alt="" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'static_file/img/testimonial-2.jpg'%}" alt="" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'static_file/img/testimonial-3.jpg'%}" alt="" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-transparent border rounded p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'static_file/img/testimonial-4.jpg'%}" alt="" style="width: 50px; height: 50px;">
                        <div class="ps-3">
                            <h5 class="mb-1">Client Name</h5>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}
